@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.title-1 {
    color: #070707;
    font-size: 34px;
    font-weight: 600;   
}

.button {
    padding: 11px 22px;
    border-radius: 30px;
    display: inline-block;
    background-color: #070707;
    color: #fff;
    font-size: 18px;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.button:hover {
    background-color: #323232;
}

.button:active {
    background-color: #000;
    position: relative;
    top: 1px;
}

/* Header */
.header{
    background-color: #F1F1F1;
    padding-top: 46px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo{
    position: relative;

    color: #000;
    padding: 0 12px 3px 0;
    font-weight: 700;
    font-size: 32px;
}

.logo::after{
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
    right: 0;
    bottom: 0;
}

/* Nav */
.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
}

.nav-button{
    display: none;
}

.nav-item a{
    
}

.nav-link{
    color: #000;
}

.nav-link.active{
    color: #606060;
}

/* Header content */
.header-row{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content{
    max-width: 500px;
    margin-top: 124px;
}

.header-heading{
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-content p{
    line-height: 2;
}

.h-img {
    max-width:100%;
    height:auto;
}

/*Service*/

.services{
    padding: 90px 0;
}

.services-row{
    display: flex;
    row-gap: 60px;
    column-gap: 30px;
    flex-wrap: wrap;
}

.service-card{
    flex: 1 1 0;
    min-width: 315px;
}

.service-card-img {
    margin-bottom: 30px;
}

.service-card-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.service-card p{
    line-height: 2;
}

/*Portfolio*/

.portfolio {
    padding: 90px 0;
    background-color: #F1F1F1;
}

.portflio-title {
    text-align: center;
    margin-bottom: 70px;
}

.project {
    text-align: center;
    margin-bottom: 90px;
}

.project-img {
    margin-bottom: 40px;
    max-width:100%;
    height:auto;
}

.project-title {
    color: #070707;
    font-size: 18px;
    text-decoration: underline;
}

.project-title a {
    color: #070707;
}

.project:last-child {
    margin-bottom: 0;
}

/*Footer*/

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 18px;
    color: #070707;
    max-width: 480px;
}

.contacts-button {
    margin-bottom: 80px;
}

.contacts-scial {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.contacts-footer {
    color: #828282;
}